<div class="text-center">
    <form class="row mt-4">
        <div class="dropdown col-6">
            <div class="form-group">
                <label for="date">請選擇年月</label>
                <input type="month" class="form-control" id="date" name="date" value="{{dateInput}}">   
            </div>
        </div>
        <div class="dropdown col-6">
            <div class="form-group">
                <label for="dropdownMenuButton" style="display: block">請選擇類別</label>
                <select name="category" id="category" class="form-control">
                    <option value="" selected>不分類</option>
                    <option value="housing" {{#if categorySelected.housing}}selected{{/if}}>家居物業</option>
                    <option value="transportation" {{#if categorySelected.transportation}}selected{{/if}}>交通出行</option>
                    <option value="entertainment" {{#if categorySelected.entertainment}}selected{{/if}}>休閒娛樂</option>
                    <option value="food" {{#if categorySelected.food}}selected{{/if}}>餐飲食品</option>
                    <option value="other" {{#if categorySelected.other}}selected{{/if}}>其他</option>
                </select>
            </div>  
        </div>
    </form>
    
    <h1>{{category.forH1}}</h1>
    <div class="">
        總金額:<span class="display-2">{{totalAmount}}</span>
    </div>
    <div id="allRecords">
        {{#each records}}
        <div class="row mt-2">
            {{{this.icon}}}
            <div class="col-6">
                <div class="m-auto">
                    <div>{{this.name}}</div>
                    <div>{{this.date}}</div>
                </div>
                <div class="m-auto">
                    $<span>{{this.amount}}</span>   
                </div>
            </div>
            <div class="col-4">
                <a href="/record/edit/{{this._id}}" class="btn btn-secondary">修改</a>
                <button type="submit" class="btn btn-outline-warning ml-2" data-toggle="modal" data-target="#deleteModal" data-name="{{this.name}}" data-id="{{this.id}}">刪除</button>
            </div>
        </div>
        {{/each}}
    </div>
<a href="/record/new" class="btn btn-primary mt-4">新增支出</a>
<!-- delete modal -->    

    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">確定要刪除<span id="deleteName"></span>?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="POST" class="d-inline" id="formForDelete">
                        <button type="submit" class="btn btn-primary">確定</button>
                    </form>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                </div>        
            </div>
        </div>
    </div>
</div>
